body {
  font-family: Arial, sans-serif;
  background-color: #0a0a0a;
  color: #fff;
  margin: 0;
  padding: 0;
}

header {
  background: #111;
  text-align: center;
  padding: 20px;
  border-bottom: 3px solid #0ff;
}

header h1 {
  color: #0ff;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}
nav a:hover {
  color: #0ff;
}

main {
  padding: 20px;
}

.producto {
  background: #1a1a1a;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  max-width: 200px;
}

.producto img {
  width: 100%;
  border-radius: 8px;
}

button {
  background: #0ff;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background: #00cccc;
}

footer {
  text-align: center;
  background: #111;
  padding: 15px;
  margin-top: 20px;
  border-top: 3px solid #0ff;
}
